* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* NAVBAR STYLING*/


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem 2rem;
    
}

.nav-logo {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.nav-item {
    margin: 0 0.5rem;
}

.nav-link {
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.nav-link:hover {
    background-color: #555;
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .nav-list {
        flex-direction: column;
        margin-top: 0.5rem;
    }

    .nav-item {
        margin: 0.2rem 0;
    }
}

/* MAIN-CONTENT STYLING (BODY OF MAIN PAGE)*/

.main-content-block {
    display: flex;
    flex-direction: row;
    background-color: #222;
    height: 500px;
    justify-content:center;
    align-items: center;

}

.title-text-left {
    color: white;
    font-size: xx-large;
    border-radius: 4px;
    padding: 3.5rem 1.5rem;
    margin: 2px;

    background-color: #333;
    box-shadow: 2px 2px 0px purple;

    display: flex;

}

.title-text-right {
    color: white;
    text-align: right;
    font-size: xx-large;
    border-radius: 4px;
    padding: 3.5rem 1.5rem;
    margin: 2px;

    background-color: #333;
    box-shadow: -2px 2px 0px purple;

}

.title-image {
    height: inherit;
}

