<!--
base.html is the file that stores the basic building block of the website which all other html files derive from.
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lore Master</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>

<body>
    <nav class="navbar">
        <a href="#" class="nav-logo">Lore Master</a>
        <ul class="nav-list">
            <!--LOG IN LOG OUT LOGIC-->
            {% if user.is_authenticated %}
            <li class="nav-item"><a href="#" class="nav-link">{{user.username}}</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Store</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
            <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Log Out</a></li>
            {% else %}
            <li class="nav-item"><a href="{% url 'signup' %}" class="nav-link">Sign Up!</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Store</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
            <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Log In</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block content %} {% endblock %}
</body>

</html>