{% extends "base.html" %}
{% block content %}
    <div class="main-content-block">

        <div class="title-text-left">
            <h1>BUILD<br>YOUR<br>ADVENTURE</h1>
        </div>

    </div>
    <div class="main-content-block">


        <div class="title-text-right">
            <h1>CUSTOMIZE<br>AND<br>RECREATE</h1>
        </div>
    </div>
    <div class="main-content-block">

        <div class="title-text-left">
            <h1>LET<br>OTHERS<br>ENJOY</h1>
        </div>

    </div>

    <div class="main-content-block">

        <div class="main-content-button">
            <h1>MAKE YOUR STORY</h1>
        </div>

    </div>

{% endblock %}