* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* GENERAL STYLING */
body {
    background-color: #222;
}

/* NAVBAR STYLING*/


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem 2rem;
    border-bottom: 2px solid purple;

}

.nav-logo {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.nav-item {
    margin: 0 0.5rem;
}

.nav-link {
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.nav-link:hover {
    background-color: #555;
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .nav-list {
        flex-direction: column;
        margin-top: 0.5rem;
    }

    .nav-item {
        margin: 0.2rem 0;
    }
}

/* FORM STYLING SIGNUP LOGIN*/

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;

    max-width: 500px;
    margin: 50px auto;

    color: white;
    background-color: #333;
    border-radius: 8px;

    box-shadow: 2px 2px 0px purple;
}

form p {
    padding: 8px 4px;
}

form input {
    padding: 8px;
    margin: 16px 0px 16px 0px;
}

form button {
    margin: 16px;

    text-decoration: none;
    color: white;
    padding: 1.0rem 2rem;
    font-size: 1.5rem;
    border-radius: 4px;
    background-color: #333;
    transition: background-color 0.3s;

    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

form button:hover {
    background-color: #555;
    cursor: pointer;
}

form ul {
    padding: 8px 4px;
    list-style-type: none;
}

/* MAIN-CONTENT STYLING (BODY OF MAIN PAGE)*/

.main-content-block {
    display: flex;
    flex-direction: row;
    background-color: #222;
    height: 500px;
    justify-content: center;
    align-items: center;

}

.title-text-left,
.title-text-right {
    color: white;
    font-size: xx-large;
    border-radius: 4px;
    padding: 3.5rem 1.5rem;
    margin: 2px;
    height: 200px;
    width: 400px;

    background-color: #333;
    box-shadow: 2px 2px 0px purple;

    display: flex;

}


.title-text-right {
    box-shadow: -2px 2px 0px purple;
}

.title-text-right:hover,
.title-text-left:hover {
    scale: 1.01;
}

.main-content-button {

    color: white;
    font-size: xx-large;
    border-radius: 4px;
    padding: 3.5rem 1.5rem;
    margin: 2px;

    background-color: purple;
    box-shadow: 2px 2px 0px #333;

    display: flex;


}

.main-content-button:hover {
    cursor: pointer;
    scale: 1.1;

    background-color: #333;
    box-shadow: -2px 2px 0px purple;


}